.createColRight {
  padding: 15px;
  height: 100vh;
}

.step-container {
  display: flex;
  margin-bottom: 20px;
}


@media (min-width: 480px) {
  .step-container {
    margin-bottom: 30px;
  }
}

@media (min-width: 576px) {
  .createColRight {
    padding: 40px;
  }
  .step-container {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .createColRight {
    padding: 80px;
  }
  .step-container {
    margin-bottom: 100px;
  }
}

@media (min-width: 1200px) {
  .createColRight {
    padding: 50px;
  }
}

@media (min-width: 1767px) {
  .createColRight {
    padding: 150px;
  }
}