.ant-form-item {
    margin-bottom: 8px;
}
.ant-space-align-baseline > .ant-space-item:first-child {
    width: 100%
}

.ant-space-align-baseline > .ant-space-item:nth-child(2) {
    width: 100%
}

.patientQuestionaire {
    padding: 10px;
    min-height: calc(100vh - 64px);
    position: relative
}

@media (min-width: 768px) {
    .patientQuestionaire {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .ant-card-body {
        padding: 12px;
    }
    .ant-card-head {
        padding: 0px 12px;
    }
    .ant-col-6 {
        padding: 1px;
    }
}