.profile {
    padding: 10px;
    background-color: #F6F8FC;
    min-height: calc(100vh - 64px);
}

.profileWrapper {
  background-color: #fff;
  min-height: calc(100vh - 84px);
  border: 1px dashed #D1D1D1;
  padding: 4px;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .profile {
    padding: 20px;
  }
  
  .profileWrapper{
    min-height: calc(100vh - 104px);
  }
}