.navbar {
  background-color: white;
  padding-left: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 992px) {
  .menu {
    display: none;
  }
}
.logo {
  height: 32px;
  margin-left: 1rem;
}

.ant-drawer-header {
  padding-right: 12px;
}

.ant-drawer-close {
  padding-right: 12px;
}

.ant-drawer-body{
  padding: 24px 0px 0px 0px !important;
}